@import 'variables.scss';
@import 'bootstrap/_bootstrap.scss';

.container
{
    height: auto;
}

div[class^="col-"]
{
    background-color: rgba(4, 0, 255, 0.05);
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.09);
}